<aside class="aside" ng-class="{'opened' : asideOpened,'closed': !asideOpened}">

    <div class="logo">
        <span class="logo__text">iWords</span>
    </div>

    <ul class="navigation">

        <li class="navigation__item {{activatedRoute name 'app.dashboard' 'navigation__item--active'}}">
            <a class="navigation__link" href="/app">
                <span class="fa fa-home navigation__link-icon"></span>
                <span class="navigation__link-text">Dashboard</span>
                <md-tooltip ng-if="!asideOpened" md-direction="right">Dashboard</md-tooltip>
            </a>
        </li>

        <!-- Old -->
<!--        <li class="navigation__item">-->
<!--            <a class="navigation__link {{activatedRoute name 'app.learning' 'navigation__link--active'}}" href="/app/learning">-->
<!--                <span class="fa fa-leanpub navigation__link-icon"></span>-->
<!--                <span class="navigation__link-text">Nauka</span>-->
<!--                <md-tooltip ng-if="!asideOpened" md-direction="right">Nauka</md-tooltip>-->
<!--            </a>-->
<!--        </li>-->

        <li class="navigation__item" aside-nested-menu-toggler active-class="navigation__item--open" open>
            <a class="navigation__link" href="#">
                <span class="fa fa-leanpub navigation__link-icon"></span>
                <span class="navigation__link-text">Nauka</span>
                <md-tooltip ng-if="!asideOpened" md-direction="right">Nauka</md-tooltip>
            </a>
            <!-- Nested -->
            <ul class="navigation-nested">
                <li class="navigation-nested__item">
                    <a class="navigation-nested__link" href="">Tłumaczenia</a>
                </li>
                <li class="navigation-nested__item">
                    <a class="navigation-nested__link" href="">Nowe tryby w krótce</a>
                </li>
                <li class="navigation-nested__item">
                    <a class="navigation-nested__link" href="">Item 3</a>
                </li>
                <li class="navigation-nested__item">
                    <a class="navigation-nested__link" href="">Item 4</a>
                </li>
            </ul>
        </li>

        <!-- Remember to uncomment controllers and services -->
<!--        <li class="navigation__item">-->
<!--            <a class="navigation__link {{activatedRoute name 'app.import' 'navigation__link--active'}}" href="/app/import">-->
<!--                <span class="fa fa-upload navigation__link-icon"></span>-->
<!--                <span class="navigation__link-text">Import</span>-->
<!--                <md-tooltip ng-if="!asideOpened" md-direction="right">Import</md-tooltip>-->
<!--            </a>-->
<!--        </li>-->

        <li class="navigation__item {{activatedRoute name 'app.yourExpressions' 'navigation__item--active'}}">
            <a class="navigation__link" href="/app/your-expressions">
                <span class="fa fa-database navigation__link-icon"></span>
                <span class="navigation__link-text">Twoje wyrażenia</span>
                <md-tooltip ng-if="!asideOpened" md-direction="right">Twoje wyrażenia</md-tooltip>
            </a>
        </li>

        <li class="navigation__item {{activatedRoute name 'app.statistics' 'navigation__item--active'}}">
            <a class="navigation__link" href="/app/statistics">
                <span class="fa fa-area-chart navigation__link-icon"></span>
                <span class="navigation__link-text">Statystyki</span>
                <md-tooltip ng-if="!asideOpened" md-direction="right">Statystyki</md-tooltip>
            </a>
        </li>

    </ul>



</aside>
