<!-- Space divider -->
    <div class="app-learning-primary-page__divider"></div>

    <div class="app-learning-primary-page__learning-container" ng-cloak>
        <!-- Learning widget -->
        {{# if expressionsCount }}
            <!-- When expressions are available -->
            <div class="learning card card--white card--with-shadow">
                <div class="card__content">
                    <!-- Data -->
                    <div class="learning__data">
                        <div layout="row" layout-align="center center" class="learning__header-row">
                            <!-- Left side -->
                            <div flex>
                                <!-- Repeat information -->
                                <div ng-if="currentExpr.isInRepeatState" class="learning__repeat-info">
                                    <!-- Progress with number -->
                                    <div class="progress-with-numbers">
                                        <md-tooltip md-direction="top">Liczba poprawnych odpowiedzi potrzebna do zaliczenia powtórki</md-tooltip>
                                        <md-progress-circular md-mode="determinate" value="\{{currentExpr.repeatCountProgress}}"></md-progress-circular>
                                        <strong class="progress-with-numbers__value">\{{ 10 - (currentExpr.repeatCorrectAnswers) }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!-- Right side -->
                            <div flex>
                                <div layout="row" layout-align="end center">
                                    <div layout="row">
                                        <!-- repeat counter -->
                                        <div flex layout="row" layout-align="center center">
                                            <div  class="repeat-counter" ng-if="repeatCount > 0">
                                                <md-button class="md-icon-button md-warn">
                                                    <span class="fa fa-repeat"></span>
                                                    <md-tooltip md-direction="top">Ilośc wyrażeń w powtórkach</md-tooltip>
                                                    <strong>\{{repeatCount}}</strong>
                                                </md-button>
                                                <!-- Repeat state toggle  -->
                                                <md-switch ng-model="repeatState.state" class="md-warn repeat-counter__switch" ng-change="handleRepeatStateModeChange($event)">
                                                    Tryb powtórek
                                                </md-switch>
                                            </div>
                                            <!-- Speech state toggle -->
                                            <div flex >
                                                <md-switch ng-model="speechState.state" class="md-warn repeat-counter__switch" ng-change="handleSpeechStateChange($event)">
                                                    Wymowa
                                                </md-switch>
                                            </div>
                                        </div>
                                        <!-- Menu -->
                                        <div>
                                            <md-menu>
                                                <md-button ng-click="openMenu($mdMenu, $event)" class="md-icon-button">
                                                    <span class="fa fa-ellipsis-v" md-menu-origin></span>
                                                </md-button>
                                                <md-menu-content>
                                                    <!-- Menu items -->
                                                    <md-menu-item>
                                                        <md-button ng-click="handleResetRepeatMode()" ng-disabled="repeatCount === 0">
                                                            Zresetuj powtórki
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Translations -->
                        <div class="learning__translations">
                            <!-- If it's marked for repeating -->
                            <md-button ng-if="currentExpr.repeat && currentExpr.repeat.state" class="md-icon-button md-warn" aria-label="More" ng-disabled="skipping">
                                <md-tooltip md-direction="top">Ta ikona oznacza, że aktualne wyrażenie jest w powtórkach</md-tooltip>
                                <span class="fa fa-repeat"></span>
                            </md-button>
                            \{{ currentExpr.renderedTranslations }} <span class="learning__correct-answer" ng-if="answerWrong"> - \{{ currentExpr.expression }}</span>
                        </div>
                        <!-- Extra info -->
                        <div class="learning__extra">
                            <!-- Part of speech -->
                            <div class="learning__extra-item learning__extra-partOfSpeech">
                                <span>\{{ currentExpr.partOfSpeech }}</span>
                            </div>
                        </div>

                    </div>

                    <!-- Input container -->
                    <div class="learning__input-container">
                        <input class="learning__input input"
                               ng-class="{'input--success': answerSuccess, 'input--danger': answerWrong}"
                               type="text"
                               ng-model="answer"
                               ng-keypress="handleKeyPress($event)"
                               autocomplete="off">
                    </div>
                    <!-- Small menu -->
                    <div class="learning__controls">
                        <!-- Speech button -->
                        <span class="md-caption" ng-if="!speechState.state">Lektor jest wyłączony</span>
                        <md-button class="md-icon-button" ng-click="pronounciation()" ng-disabled="!speechState.state">
                            <md-tooltip md-direction="top" ng-if="speechState.state">Usłysz wymowę</md-tooltip>
                            <span class="fa fa-volume-up"></span>
                        </md-button>
                        <!-- Helper links -->
                        <div>
                            <md-button class="md-primary" ng-href="\{{currentExpr.dikiUrl}}" target="_blank">
                                <md-tooltip md-direction="top">Zobacz w diki</md-tooltip>
                                <span>diki.pl</span>
                            </md-button>
                        </div>
                        <!-- Skip expression btn -->
                        <md-button ng-click="skipExpression()" class="md-icon-button" aria-label="More" ng-disabled="skipping">
                            <md-tooltip md-direction="top">Następne wyrażenie</md-tooltip>
                            <span class="fa fa-angle-right"></span>
                        </md-button>
                    </div>
                </div>
            </div>
        {{else}}
            <!-- Expressions dont exist -->
            <div class="learning__no-expressions card card--white card--with-shadow">
                <div class="card__content">
                    W tym momencie nie masz żadnych przypisanych wyrażeń. Kiedy dodasz wyrażenia, tryb nauki zostanie odblokowany.
                </div>
            </div>
        {{/if}}


    </div>
