<div class="toolbar">
    <!-- Content -->
    <div class="toolbar__content">
        <!-- Close aside trigger -->
        <div class="toolbar__menu-trigger">
            <md-button class="md-icon-button" aria-label="More" ng-click="toggleAside()">
                <span class="fa fa-bars"></span>
            </md-button>
        </div>
        <!-- Toolbar heading - displays page title -->
        <div class="toolbar__heading"><h3>{{pageTitle}}</h3></div>
    </div>
    <!-- Dictionary search -->
    <div class="toolbar__dictionary-search" ng-class="{'toolbar__dictionary-search--has-w-100': dictionaryAutocompleteFocused}" ng-controller="DictionarySearchCtrl" ng-cloak>
            <md-autocomplete
                    ng-disabled="isDisabled"
                    md-no-cache="noCache"
                    md-selected-item="selectedItem"
                    md-search-text-change="searchTextChange(searchText)"
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item)"
                    md-items="item in querySearch(searchText)"
                    md-min-length="3"
                    md-escape-options="clear"
                    md-menu-class="dictionary-search-menu"
                    ng-focus="dictionaryAutocompleteFocus()"
                    ng-blur="dictionaryAutocompleteBlur()"
                    placeholder="Szukaj wyrażeń w języku angielskim">

            <!-- Single result item -->
            <md-item-template>
                <div class="dic-search-result" layout>
                    <div>
                        <span class="dic-search-result__title">
                            <strong>\{{item.expression}}</strong>
                            <span class="md-caption dic-search-result__part-of-speech">- \{{item.partOfSpeech}}</span>
                        </span>
                            <span class="dic-search-result__meta">
                            <span class="md-caption dic-search-result__meta-translations">\{{item.renderedTranslations}}</span>
                        </span>
                    </div>
                    <div flex layout layout-align="end center">
                        <md-button class="md-primary md-raised" ng-click="handleAddToIwords(item, $event)">Dodaj do iwords</md-button>
                    </div>
                </div>
            </md-item-template>

            <!-- Not found message -->
            <md-not-found>
                No states matching "\{{searchText}}" were found.
            </md-not-found>

        </md-autocomplete>
    </div>
    <!-- Actions -->
    <div class="toolbar__actions">
        <span>{{user.name}}</span>
        {{>toolbar-user-menu}}
    </div>
</div>
