<div class="app-learning-speaking-page">


    {{#if expressionsCount}}
        <div class="app-learning-speaking-page__learning-container" ng-controller="LearningSpeakingCtrl" ng-cloak>

            <div class="learning-speaking card card--white card--with-shadow" ng-class="{'card--success': answerSuccess, 'card--danger': answerWrong}">

                <div ng-if="speechRecogantionSupport" class="card__content">

                    <!-- Translations -->
                    <div class="learning__translations">
                        \{{ currentExpr.renderedTranslations }} <span class="learning__correct-answer" ng-if="answerWrong"> - \{{ currentExpr.expression }}</span>
                    </div>
                    <!-- Extra info -->
                    <div class="learning__extra">
                        <!-- Part of speech -->
                        <div class="learning__extra-item learning__extra-partOfSpeech">
                            <span>\{{ currentExpr.partOfSpeech }}</span>
                        </div>
                    </div>

                    <!-- User answer transcript -->
                    <div class="learning-speaking__user-transcript" ng-if="answer">
                        <p>\{{answer}}</p>
                    </div>

                    <!-- Recording btn -->
                    <div class="learning-speaking__recording-btn">
                        <md-button class="md-fab" ng-click="handleSpeaking()" ng-disabled="speechRecording">
                            <span class="fa fa-microphone"></span>
                        </md-button>
                    </div>

                </div>

                <!-- When speech recognition is not supported -->
                <div ng-if="!speechRecogantionSupport" class="card__content">
                    <p>Twoja przeglądarka nie wspiera rozpoznawania wymowy. Sugerujemy użyć przeglądarki Chrome</p>
                </div>

            </div>

        </div>
    {{else}}
        <!-- Expressions dont exist -->
        <div class="learning__no-expressions card card--white card--with-shadow">
            <div class="card__content">
                W tym momencie nie masz żadnych przypisanych wyrażeń. Kiedy dodasz wyrażenia, tryb nauki zostanie odblokowany.
            </div>
        </div>
    {{/if}}


</div>
