<!-- Your expressions -->
<div class="app-your-expressions-page" ng-cloak>

   <div class="inner-container">

       {{#if hasExpressions}}
           <!-- List -->
           <div class="expressions-list card card--white card--with-shadow" ng-controller="YourExpressionsCtrl" ng-init="exprId='{{exprId}}'">
               <!-- Header -->
               <div class="card__header">
                   <!-- Filter input -->
                   <div class="filter-input">
                       <!-- Icon -->
                       <div class="filter-input__icon">
                           <span class="fa fa-search"></span>
                       </div>
                       <input class="filter-input__input" type="text" placeholder="Szukaj" ng-model="filterSearch" ng-change="handleFilterInputChange()">
                   </div>
               </div>

               <!-- Card content -->
               <div class="card__content">

                   <!-- Expressions list -->
                   <ul ng-if="expressions && expressions.length" class="list list--primary-style">
                       <!-- Single expression -->
                       <li ng-repeat="expr in expressions" class="list__item expression">
                           <div class="list__item-left">
                               <div><strong>\{{expr.expression}}</strong></div>
                               <div>\{{expr.translations.join(', ')}}</div>
                               <div class="expression__repeat-count">
                                   <span class="md-caption">Powtórzono: \{{expr.repeatCount || 0}} razy</span>
                                   <span class="md-caption">Skuteczność: \{{expr.effectivity}} %</span>
                               </div>
                           </div>
                           <div class="list__item-right">
                               <!-- Information about is expression in repeat mode -->
                               <md-button ng-if="expr.inRepeatState" class="md-icon-button md-warn">
                                   <md-tooltip md-direction="top">Ta ikona oznacza, że wyrażenie jest w powtórkach</md-tooltip>
                                   <span class="fa fa-repeat"></span>
                               </md-button>
                               <!-- Have notes icon -->
                               <md-button ng-if="expr.notesCount > 0" class="md-icon-button md-primary">
                                   <md-tooltip md-direction="top">Ta ikona oznacza, że wyrażenie zawiera notaki</md-tooltip>
                                   <span class="fa fa-files-o"></span>
                               </md-button>
                               <!-- the "new" label -->
                               <div ng-if="expr.latest" class="label label--success">Niedawno dodane</div>
                               <!-- Progress -->
<!--                               <md-progress-circular ng-if="expr.effectivity > 0" md-mode="determinate"  md-diameter="15px" value="\{{expr.effectivity}}"></md-progress-circular>-->
                               <!-- Expression menu -->
                               <md-menu>
                                   <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openExprMenu($mdMenu, $event)">
                                       <span class="fa fa-ellipsis-v"></span>
                                   </md-button>
                                   <md-menu-content width="4">
                                       <md-menu-item>
                                           <md-button ng-href="/app/notes/expression/\{{expr._id}}">
                                               <span class="fa fa-sticky-note-o"></span>
                                               Notatki
                                           </md-button>
                                       </md-menu-item>
                                       <md-menu-item>
                                           <md-button ng-click="handleToggleExpressionRepeatMode(expr, $event)">
                                               <span class="fa fa-repeat"></span>
                                               <span ng-if="!expr.inRepeatState" >Dodaj do powtórek</span>
                                               <span ng-if="expr.inRepeatState">Usuń z powtórek</span>
                                           </md-button>
                                       </md-menu-item>
                                       <md-menu-divider></md-menu-divider>
                                       <md-menu-item>
                                           <md-button ng-click="handleAddNote(expr, $event)">
                                               <span class="fa fa-plus"></span>
                                               Dodaj nową notatkę
                                           </md-button>
                                       </md-menu-item>
                                   </md-menu-content>
                               </md-menu>
                           </div>
                       </li>

                   </ul>

                   <!-- No filter results -->
                   <div ng-if="!expressions || !expressions.length" class="no-filter-results">Brak wyników wyszukiwania</div>

                   <!-- Content overlay -->
                   <div class="card__content-overlay" ng-class="{active: fetching}"></div>

               </div>

               <!-- Footer -->
               <div class="card__footer">
                   <!-- Pagination -->
                   <div class="paginator">
                       <!-- Controls -->
                       <div class="paginator__controls">
                           <md-button ng-click="prevPage()" class="md-icon-button md-primary" aria-label="Poprzednia strona" ng-disabled="prevPageDisable">
                               <md-tooltip md-direction="top">Poprzednia strona</md-tooltip>
                               <span class="fa fa-angle-left"></span>
                           </md-button>

                           <md-button ng-click="nextPage()" class="md-icon-button md-primary" aria-label="Następna strona" ng-disabled="nextPageDisable">
                               <md-tooltip md-direction="top">Następna strona</md-tooltip>
                               <span class="fa fa-angle-right"></span>
                           </md-button>
                       </div>
                       <!-- Pagination meta -->
                       <div class="paginator__meta">
                           <span>Strona \{{currentPage}}</span>
                       </div>
                   </div>
               </div>
           </div>
       {{else}}
           <div class="no-expressions-info expressions-list card card--white card--with-shadow">
               <div class="card__content">
                   Nie posiadasz jeszcze żadnych wyrażeń. Kiedy dodasz jakieś wyrażenie będzie ono widoczne na liście
               </div>
           </div>
       {{/if}}


   </div>

</div>
