<div class="app-expression-notes-page" ng-cloak ng-controller="ExpressionNotesCtrl" ng-init="exprId='{{exprId}}';expression='{{expression}}'">


    <div class="inner-container">

        {{#if hasNotes}}
            <!-- List of notes -->
            <div class="notes-list card card--white card--with-shadow">

                <!-- Header -->
                <div class="card__header">
                    <div class="card__header-slot-start">
                        <!-- Filter input -->
                        <div class="filter-input">
                            <!-- Icon -->
                            <div class="filter-input__icon">
                                <span class="fa fa-search"></span>
                            </div>
                            <input class="filter-input__input" type="text" placeholder="Szukaj" ng-model="filterSearch" ng-change="handleFilterInputChange()">
                        </div>
                    </div>
                    <div class="card__header-slot-end">
                        <md-button class="md-fab md-mini md-primary" ng-click="handleAddNote($event)">
                            <span class="fa fa-plus"></span>
                        </md-button>
                    </div>
                </div>


                <!-- Card content -->
                <div class="card__content">

                    <!-- Notes list -->
                    <ul ng-if="notes && notes.length" class="list list--primary-style">
                        <!-- Single expression -->
                        <li ng-repeat="note in notes" class="list__item note">
                            <div class="list__item-left">
                                <div><strong>\{{note.title}}</strong></div>
                            </div>
                            <div class="list__item-right">
                                <md-menu>
                                    <md-button class="md-icon-button" ng-click="openNoteMenu($mdMenu, $event)">
                                        <span class="fa fa-ellipsis-v"></span>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ng-href="/app/notes/\{{note._id}}/\{{exprId}}">
                                                Edytuj
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="handleRemove(note._id, $event)">
                                                Usuń
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                        </li>
                    </ul>

                    <!-- No filter results -->
                    <div ng-if="!notes || !notes.length" class="no-filter-results">Brak wyników wyszukiwania</div>

                    <!-- Content overlay -->
                    <div class="card__content-overlay" ng-class="{active: fetching}"></div>

                </div>

                <!-- Footer -->
                <div class="card__footer">
                    <!-- Pagination -->
                    <div class="paginator">
                        <!-- Controls -->
                        <div class="paginator__controls">
                            <md-button ng-click="prevPage()" class="md-icon-button md-primary" aria-label="Poprzednia strona" ng-disabled="prevPageDisable">
                                <md-tooltip md-direction="top">Poprzednia strona</md-tooltip>
                                <span class="fa fa-angle-left"></span>
                            </md-button>

                            <md-button ng-click="nextPage()" class="md-icon-button md-primary" aria-label="Następna strona" ng-disabled="nextPageDisable">
                                <md-tooltip md-direction="top">Następna strona</md-tooltip>
                                <span class="fa fa-angle-right"></span>
                            </md-button>
                        </div>
                        <!-- Pagination meta -->
                        <div class="paginator__meta">
                            <span>Strona \{{pagination.page}}</span>
                        </div>
                    </div>
                </div>

            </div>
        {{else}}
            <div class="empty-list-info expressions-list card card--white card--with-shadow">
                <div class="empty-list-info__desc card__content">
                    <div>Nie posiadasz jeszcze żadnych notatek. Kiedy dodasz jakąś będzie ona widoczne na liście</div>
                    <div class="empty-list-info__actions">
                        <md-button class="md-raised md-primary" ng-click="handleAddNote($event)">Nowa notatka</md-button>
                    </div>
                </div>
            </div>
        {{/if}}

    </div>




</div>
